@font-face {
  font-family: "Phosphate-Inline";
  src: url(phosphate-inline.ttf);
}

body {
  width: 100%;
  background-image: url("../images/bg.png");
  text-transform: uppercase;
  font-family: "Phosphate-Inline";
  font-size: 1em;
  margin: 0;
  padding: 0;
}

a {
  color: #0404B4;
}

#logo {
  float: left;
  width: 100px;
  height: 100px;
  background: url("../images/logo.png") no-repeat center center;
  background-size: 100%;
  margin-top: 5px;
}

#navbar {
  width: 100%;
  height: 110px;
  background-color: #EFEFEF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

#nav {
  margin: 0px auto;
  overflow: hidden;
}

#nav ul {
  margin: 26px;
  padding: 0;
  overflow: hidden;
  float: center;
  vertical-align: middle;
}

#nav ul li {
  list-style-type: none;
  height: 20px;
  margin-left: 7px;
  margin-right: 7px;
  float: right;
  vertical-align: middle;
  border: solid #703E3E 2px;
  border-radius: 10px;
}

#nav a {
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 22px;
  padding-right:22px;
  color: #703E3E;
}

a {
  text-decoration: none;
}
