@font-face {
  font-family: "Phosphate-Inline";
  src: url(phosphate-inline.ttf);
}

body {
  width: 100%;
  background-image: url("../images/bg.png");
  font-size: 1em;
  margin: 0;
  padding: 0;
}

#feat-vid {
  max-width: 700px;
  width: 70%;
  height: 424px;
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}

a {
  text-decoration: none;
}

.container {
  width: 70%;
  margin: 0 auto;
  border: 2px #BBBBBB solid;
  border-radius: 20px;
  background: #EEEEEE;
  font-family: "Lucida Console", Monaco, monospace;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

.mini-container {
  width: 40%;
  border: 2px #999999 solid;
  border-radius: 7.5px;
  background: #BBBBBB;
  display: inline-block;
}

.separate {
  height: 1px;
  width: 60%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 2px #999999 solid;
}

/*.vertical-separate {
  height: 90%;
  width: 1px;
  margin: 0 auto;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border-right: 2px #999999 solid;
  display: inline;
}*/

#nav a {
  color: #0404B4;
  font-family: "Phosphate-Inline";
}

#nav a {

}

.header {
  text-align: center;
  color: #000000;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#logo {
  float: left;
  width: 100px;
  height: 100px;
  background: url("../images/logo.png") no-repeat center center;
  background-size: 100%;
  margin-top: 5px;
}

#navbar {
  width: 100%;
  height: 110px;
  background-color: #EFEFEF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  box-shadow: 0px 10px 100px 0px #111111;
}

#nav {
  margin: 0px auto;
  overflow: hidden;
}

#nav ul {
  margin: 29px;
  padding: 0;
  overflow: hidden;
  vertical-align: middle;
}

#nav ul li {
  list-style-type: none;
  margin-left: 7px;
  margin-right: 7px;
  float: right;
  vertical-align: middle;
  border: solid #703E3E 2px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

#nav ul li:hover {
  border-color: #B15B5B;
}

#nav a {
  display: block;
  padding-top: 30px;
  padding-bottom: 18px;
  padding-left: 22px;
  padding-right:22px;
  color: #703E3E;
}

#nav a:hover {
  color: #B15B5B;
}

#body-content {
  width: 100%;
  margin-top: 110px;
}

#welcome-img {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  background: #333333 url("../images/logo-big.png") no-repeat center center;
  background-size: 100%;
  font-family: "Phosphate-Inline";
}

a#yt-link {
  display: block;
  float: right;
  font-size: 40px;
  color: #B72921;
  padding: 40px;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-right: 20px;
}

#live-count {

}

#chrome-image {
  width: 1em;
  height: 1em;
  background: url("../images/chrome-image.png") no-repeat center center;
  background-size: 100%;
  display: inline-block;
}