body {
  width: 100%;
  background-image: url("../images/bg.png");
  font-size: 1em;
  margin: 0;
  padding: 0;
}

a {
  color: #0404B4;
}

#logo {
  float: left;
  width: 100px;
  height: 100px;
  background: url("../images/logo.png") no-repeat center center;
  background-size: 100%;
  margin-top: 10px auto;
}

#navbar {
  width: 100%;
  height: 110px;
  background-color: #EFEFEF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

#nav {
  margin: 0px auto;
  overflow: hidden;
}

#nav:child {
  display: inline;
}
